<nav class="navbar navbar-expand-lg navbar-dark bg-success mb-4 text-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/brand/light-full-logo.svg" alt="MatchPoint" height="32">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-tecnico">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-tecnico">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/login/" class="nav-link">
            <i class="bi bi-box-arrow-in-right"></i> Entrar</a>
        </li>
        <li>
          <a href="/cadastro/" class="nav-link"><i class="bi bi-file-person"></i> Cadastro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
