/* https://stackoverflow.com/a/43615091 */
td.td-botao {
    width: 0.1%;
    white-space: nowrap;
}

pre.sf-dump {
    font: 14px monospace !important;
}

.max-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mw-384 {
    max-width: 384px !important;
}

/* Messma cor da borda dos class="card", pra ficar consistente */
.border-translucent {
    border-color: var(--bs-border-color-translucent) !important;
}

.text-blue {
    color: var(--bs-blue);
}

.text-pink {
    color: var(--bs-pink);
}